@media (max-width: 1000px){
    .title {
        height:70px;
        width: 100%;
        font-size: 40px;
        padding-left: 9px;
      }


}


@media (max-width: 670px) {
    .header-right{
        display: none;
      }   
    
    .menu-icon{
        display: block;
      }

    .header {
        height:40px ;
        padding: 10px;
    }

    .header-list{
        display: none;
    }

    .header-logo{
        display: none;
    }

    .title {
        height:10%;
        width: 100%;
        font-size: 25px;
      }

    .pic1 img{
       width: 80%;
       text-align: center;
    }

    .about-container{
        width: 95%;
        text-align: center;
        height: 25%;
    }

    .main img{
        width: 100%;
    }

    .video{
        width: 100%;
    }

    .sidebar{
        float: left;
        position: sticky;
             top: 10px;
        width: 5%;
        height: 10vh;
        color: black;
        background-color: white;
        overflow: hidden;
      }

    .main{
        width: 90%;
    }

    .link h2{
        display: block;
      }

}
