@media (max-width: 1000px){
    .title {
        height:70px;
        width: 100%;
        font-size: 40px;
        padding-left: 9px;
      }


}


@media (max-width: 670px) {
    .header-right{
        display: none;
      }   
    
    .menu-icon{
        display: block;
      }

    .header {
        height:40px ;
        padding: 10px;
    }

    .header-list{
        display: none;
    }

    .title {
        height:140px;
        width: 100%;
        font-size: 10px;
        padding-left: 5px;
      }
